@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

/* CURSOR */

* {cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani196.ani), url(https://cur.cursors-4u.net/anime/ani-1/ani196.png), auto !important;}

/* BACKGROUND */

body {
	background: url('https://i.imgur.com/r7OTHyt.jpeg') center center fixed;
	background-size: 20%;
	font-family: 'Swanky and Moo Moo', cursive;
    font-size: 16px;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(251,212,234,0.9);
	border: none;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgb(251,209,233);
	border: none;
	border-top: none;
	color: #b9166b;
	border-radius: 0px;
    font-size: 19px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgb(251,209,233);
	border-bottom: none;
	border-radius: 0px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #ee6eb1 !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgb(253,188,225) !important;
	border-bottom: none;
	color: #e6479a !important;
	border-radius: 0px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgb(251,201,230) !important;
        border: none;
	border-radius: 0px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #be2273
}
/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: rgb(253,186,224) !important;
        border: none !important;
	border-radius: 0px;
	color: #ee6eb1 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: rgb(253,186,224);
        border: none !important;
	border-radius: 0px;
        text-shadow: none !important;
	color: #ee6eb1 !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgb(255,185,220) !important;
	border: none;
	color: #be2273;
	border-radius: 0px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #fd6ab7;
	font-size: 50px;
	text-align: center;
	font-family: 'Swanky and Moo Moo', cursive;
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #ee6eb1 !important;
        font-size: 26px !important;
        font-family: 'Swanky and Moo Moo', cursive;
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgb(252,199,228) !important;
	box-shadow: none !important;
	border: none !important;
	color: #e6749a !important;
	border-radius: 0px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(251,212,234,0.9);
	border-radius: 0px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: rgba(255,175,221,0.9);
	border-radius: 0px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #c21182 !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(254,121,189,0.15) !important;
        color: #000 !important;
	border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(253,203,229,0.37) !important;
        color: #000 !important;
	border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(254,44,166,0.15) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(251,191,226,0.9) !important;
        color: #000000 !important;
	border: none !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(249,213,233,0.9);
	border: none !important;
	border-collapse: separate;
	border-radius: 0px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: rgba(253,182,223,0.9) !important;
	color: #e24fb8 !important;
	border-radius: 0px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(251,191,226,0.9) !important;
        color: #e24fb8;
	border-radius: 0px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: rgba(253,202,231,0.9);
	border-radius: 0px !important
}

td.right {
	border-radius: 0px !important
}

/* MEMBER ONLINE */
.member-online {
    background: #f790da;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(255,233,246,0.75);
	border: none !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(255,233,246,0.75) !important;
	color: #000000 !important;
	border: 1px solid #000000 !important;
	border-radius: 0px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(255,233,246,0.75);
	border: none;
	border-radius: 0px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(255,214,239,0.9);
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(255,233,246,0.75) !important;
	border: none !important;
	border-radius: 0px !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: rgba(251,191,226,0.9) !important;
	color: #c61175  !important;
	border-radius: 0px !important;
}

.item {
	background: rgba(255,233,246,0.75) !important;
	border: none !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #fba9da !important
}

div.slider.round::before /* Circle Part */ {
	background: #fdd0e5 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #000000 !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ff74d3 !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ff74d3 !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffeaea
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #ffbfbf;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}

/* CUSTOM KING TITLE - AFTER */
 
/#about > tbody > tr:nth-child(1) > td > div::after {
    content:', TEXT';
    font-size:17px;
    
}
 
/* CUSTOM KING TITLE - BEFORE */
 
/#about > tbody > tr:nth-child(1) > td > div::before {
    content:'TEXT';
    font-size:17px;
    
}

/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.imgur.com/nRFZmEE.png')
}

/* CAVE / MOUND IMAGES */

a[href$="unsorted.php?id=459404"]>div.cave-grid>img {
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF3cjv9C4Qa9FpJ5RHJWw04kBQ-XF-o31on1J1N6LJTwVjMRFZDEkKEnpK57P2UN-dr58&usqp=CAU') !important;
}

div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQerfrCFpiVV9hBjDvit5Zs-ANouSCRN_sQZuGPYcyuACw47hyf1Xy3BnggTEA9SC9qYGs&usqp=CAU') !important
}

a[href$="lionoverview.php?id=459404"]>div.cave-grid>img /* Pride Overview */ {
	content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9MiPGGOQxGuvlef01C7EvVqybgyF1Rfw1Ub-bJ6K_2QRdVzOQXh65TF6KqjnEuW4-weM&usqp=CAU') !important
}

/* favs */
a[href$="397243"]>div.cave-grid>img {
	content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgH1T38gLkGDGS-_DzhQAZjsOW0kKXyB7VHf-4O9LARNt3L1y5pWptz1ScaxkV7WqOxgs&usqp=CAU') !important
}

/* special */
a[href$="404879"]>div.cave-grid>img {
	content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCz6zdt2UT0Yp4sLk4VydbF4q7UtDnE0trJntAyZp123QwwXNGVqBLPb0wbIOkASt4wsQ&usqp=CAU') !important
}

/* others */
a[href$="401407"]>div.cave-grid>img {
	content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEFEzuNXBIYtDeaEcdpXeb-Df6VrLHdufcnd37InClXRP7mI6h7AV0W7HIkzyDoFkGnXw&usqp=CAU') !important
}

.mound-grid img /* Mound(s) */ {
	background: url("IMAGE URL");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}

/* CSS CREDIT */

.breadcrumb::after {
        content: "CSS by pebble !! (#459404)";
        color: #ad005e;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }
